<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAccessibilityUsageDescription</key>
	<string>Loffty intercepts volume and brightness keys to replace system HUD for these settings</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Loffty receives new bluetooth connections to display them in the notch</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Loffty discovers nearby AirDrop devices to send files from the notch.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_airdrop._tcp</string>
		<string>_airdropsecure._tcp</string>
	</array>
</dict>
</plist>
